footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 130px;
  width: 100%;
  background-color: #162b3a;
  padding: 0 60px;
}
.logoContact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
}
.locationAuth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #e2e8f0;
}
